In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode

In [1]:
data={
  "name": "John",
  "age": 30,
  "cars": [
    {"car1": "Ford", "model": "Mustang"},
    {"car2": "BMW", "model": "X5"}
  ]
}

In [3]:
spark = SparkSession.builder.appName('nestedJSON').getOrCreate()

In [6]:
df = spark.read.json('employee_data.json')

In [8]:
df.printSchema()

root
 |-- features: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- candidate: struct (nullable = true)
 |    |    |    |-- experience: string (nullable = true)
 |    |    |    |-- first_name: string (nullable = true)
 |    |    |    |-- last_name: string (nullable = true)
 |    |    |    |-- relocation: string (nullable = true)
 |    |    |    |-- skills: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- specialty: string (nullable = true)
 |    |    |    |-- state: string (nullable = true)

In [9]:
df_flat = df.select(explode('features').alias('Elements'))
df_flat = df_flat.select('Elements.candidate')

df_flat.show()

+--------------------+
|           candidate|
+--------------------+
|{Mid, Margaret, M...|
|{Senior, Michael,...|
|{Mid, Brenda, Tyl...|
|{Senior, Joseph, ...|
|{Junior, Laura, W...|
|{Mid, Cheryl, Ram...|
|{Mid, Charles, St...|
|{Senior, Bradley,...|
|{Mid, William, Li...|
|{Senior, Richard,...|
|{Junior, Robert, ...|
|{Mid, Tanya, Schu...|
|{Senior, Scott, N...|
|{Junior, Brett, H...|
|{Junior, Sean, Wi...|
|{Senior, Steven, ...|
|{Mid, Mr., James,...|
|{Junior, Linda, G...|
|{Junior, Jacob, E...|
|{Mid, Nicole, Mar...|
+--------------------+
only showing top 20 rows

In [10]:
df_flat.printSchema()

root
 |-- candidate: struct (nullable = true)
 |    |-- experience: string (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |    |-- relocation: string (nullable = true)
 |    |-- skills: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- specialty: string (nullable = true)
 |    |-- state: string (nullable = true)

In [15]:
df_flat1=df.select(explode('features.candidate').alias('candi'))
df_flat1 = df_flat1.select('candi.first_name','candi.last_name','candi.experience','candi.relocation','candi.specialty','candi.skills','candi.state')
df_flat1.show()

+----------+---------+----------+----------+------------------+--------------------+-----+
|first_name|last_name|experience|relocation|         specialty|              skills|state|
+----------+---------+----------+----------+------------------+--------------------+-----+
|  Margaret| Mcdonald|       Mid|        no|          Database|[skLearn, Java, R...|   AL|
|   Michael|   Carter|    Senior|       yes|        Statistics|[TensorFlow, R, S...|   AR|
|    Brenda|    Tyler|       Mid|        no|          Database|             [Spark]|   UT|
|    Joseph|     King|    Senior|     maybe|  Machine Learning|[skLearn, SQL, R,...|   FL|
|     Laura|     Webb|    Junior|     maybe|  Machine Learning|[TensorFlow, C++,...|   WY|
|    Cheryl|  Ramirez|       Mid|        no|Data Visualization|[C++, Python, R, ...|   OK|
|   Charles|  Stewart|       Mid|     maybe|  Machine Learning|[MongoDB, C++, Ja...|   NM|
|   Bradley| Peterson|    Senior|       yes|Data Visualization|[skLearn, MongoDB...|   TX|
|   William|      Lin|       Mid|     maybe|  Machine Learning|[Python, skLearn, R]|   WI|
|   Richard|    Woods|    Senior|       yes|          Database|  [skLearn, MongoDB]|   UT|
|    Robert|   Rivera|    Junior|       yes|          Database|[Java, skLearn, P...|   PA|
|     Tanya|  Schultz|       Mid|       yes|        Statistics|[SQL, MongoDB, R,...|   NV|
|     Scott|    Nunez|    Senior|     maybe|          Database|[skLearn, Java, S...|   MO|
|     Brett|  Hoffman|    Junior|        no|          Database|[Java, TensorFlow...|   OK|
|      Sean| Williams|    Junior|        no|Data Visualization|[SQL, MongoDB, R,...|   NV|
|    Steven|    Craig|    Senior|     maybe|Data Visualization|   [TensorFlow, SQL]|   ID|
|       Mr.|    James|       Mid|     maybe|Data Visualization|[TensorFlow, Java...|   KY|
|     Linda|  Griffin|    Junior|        no|        Statistics|[TensorFlow, Spar...|   NE|
|     Jacob| Espinoza|    Junior|     maybe|        Statistics|           [skLearn]|   WV|
|    Nicole|   Martin|       Mid|     maybe|Data Visualization|         [Java, SQL]|   NC|
+----------+---------+----------+----------+------------------+--------------------+-----+
only showing top 20 rows

In [16]:
df_flat1.write.csv("output.csv", header=True, mode="overwrite")

AnalysisException: [UNSUPPORTED_DATA_TYPE_FOR_DATASOURCE] The CSV datasource doesn't support the column `skills` of the type "ARRAY<STRING>".

In [19]:
import pandas as pd

In [30]:
df_flat1.show()

+----------+---------+----------+----------+------------------+-----+--------------------+
|first_name|last_name|experience|relocation|         specialty|state|          skills_str|
+----------+---------+----------+----------+------------------+-----+--------------------+
|  Margaret| Mcdonald|       Mid|        no|          Database|   AL|skLearn,Java,R,SQ...|
|   Michael|   Carter|    Senior|       yes|        Statistics|   AR|TensorFlow,R,Spar...|
|    Brenda|    Tyler|       Mid|        no|          Database|   UT|               Spark|
|    Joseph|     King|    Senior|     maybe|  Machine Learning|   FL|skLearn,SQL,R,Spa...|
|     Laura|     Webb|    Junior|     maybe|  Machine Learning|   WY|TensorFlow,C++,SQ...|
|    Cheryl|  Ramirez|       Mid|        no|Data Visualization|   OK|C++,Python,R,Java...|
|   Charles|  Stewart|       Mid|     maybe|  Machine Learning|   NM|MongoDB,C++,Java,...|
|   Bradley| Peterson|    Senior|       yes|Data Visualization|   TX|skLearn,MongoDB,S...|
|   William|      Lin|       Mid|     maybe|  Machine Learning|   WI|    Python,skLearn,R|
|   Richard|    Woods|    Senior|       yes|          Database|   UT|     skLearn,MongoDB|
|    Robert|   Rivera|    Junior|       yes|          Database|   PA|Java,skLearn,Pyth...|
|     Tanya|  Schultz|       Mid|       yes|        Statistics|   NV|SQL,MongoDB,R,C++...|
|     Scott|    Nunez|    Senior|     maybe|          Database|   MO|skLearn,Java,SQL,...|
|     Brett|  Hoffman|    Junior|        no|          Database|   OK| Java,TensorFlow,C++|
|      Sean| Williams|    Junior|        no|Data Visualization|   NV| SQL,MongoDB,R,Spark|
|    Steven|    Craig|    Senior|     maybe|Data Visualization|   ID|      TensorFlow,SQL|
|       Mr.|    James|       Mid|     maybe|Data Visualization|   KY|TensorFlow,Java,M...|
|     Linda|  Griffin|    Junior|        no|        Statistics|   NE|TensorFlow,Spark,...|
|     Jacob| Espinoza|    Junior|     maybe|        Statistics|   WV|             skLearn|
|    Nicole|   Martin|       Mid|     maybe|Data Visualization|   NC|            Java,SQL|
+----------+---------+----------+----------+------------------+-----+--------------------+
only showing top 20 rows

In [33]:
df.show()

+--------------------+
|            features|
+--------------------+
|[{{Mid, Margaret,...|
+--------------------+

In [37]:
import os

# Unset HADOOP_HOME environment variable
os.environ.pop('HADOOP_HOME', None)

# Save DataFrame as CSV using Pandas
df_flat1.toPandas().to_csv('o.csv', index=False)